@model IEnumerable<Mere12.Models.Products>

@{
    ViewData["Title"] = "Index";
}

<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Product List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; New Product</a>
    </div>
</div>


<table class="table table-striped border">
    <thead>
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductTypes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialTags)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductTypes.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialTags.Name)
            </td>

            <td>
                <partial name="_TableButtonPartial" model="item.Id" />
            </td>
        </tr>
        }
    </tbody>
</table>
